<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Welcome to Snakebox</title>
    <link rel="stylesheet" type="text/css" href="../static/skeleton.css" >
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="sixteen columns">
                <div class="four columns offset-by-four">
                    <form>
                        <input type="file" name="files" >
                        <input type="submit" value="Upload Torrent">
                    </form>
                </div>
            </div>
        </div>
        <h3>Active Torrents</h3>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Speed</th>
                    <th>ETA</th>
                    <th>Action</th>
                </tr>
                {%if torrents %}
                    {% for torrents in torrents %}
                        <tr>
                            <td>{% torrent.name %}</td>
                            <td>{% torrent.status %} ({% torrent.percentdone * 100 %})</td>
                            <td>{%torrent.rateDownload%}</td>
                            <td>{% torrent.eta %}</td>
                            <td>x</td>
                        </tr>
                    {{ endfor }}
                {{endif}}
            </table>
    </div>
</body>
</html>